@media (min-width: 1300px) {
    .mg-left-right {
        margin: 0 120px;
    }
    #top-header .main-header .main-nav > ul > li {
        font-size: 14px;
    }
    .nivoSlider {
        margin-top: 6rem;
        height: 450px;
    }
}
@media (max-width: 991.98px) {
    #top-header .main-header .main-nav > ul > li {
        display: flex;
        position: relative;
        line-height: 0px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        justify-content: center;
    }
    .logo_vpct {
        text-align: center;
    }
    .header {
        width: 100%;
        z-index: 100000;
        position: fixed;
        background-color: white;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 26%);
        margin-top: -6rem;
        height: 8rem;
    }
    #top-header .main-header .main-nav > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .nivoSlider {
        margin-top: 6rem;
        height: 250px;
    }
    #top-header .main-header .main-nav > ul > li > a {
        line-height: 40px;
    }
    .page-title-breadcrumbs .page-title-container h1 {
        font-size: 30px;
        color: white;
        font-family: auto;
        margin-bottom: 0;
    }
    .page-title-breadcrumbs .breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 20px;
        margin-top: 0px;
    }
    .section.wrap-product-categories img {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 767.98px) {
}
@media screen and (max-width: 575.98px) {
    .index-menu {
        display: none;
    }
    .header {
        width: auto;
        height: 6rem;
    }
    .nivoSlider {
        margin-top: 6rem;
        height: 100px;
    }
    .page-title h2 {
        color: black;
        font-weight: bold;
        font-size: 22px;
        margin: 15px 0;
    }
    .group-store .index-core-group {
        margin-top: 5px;
    }
    .menu_mb_control {
        display: block;
    }
    .logo_vpct {
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .index_menu_mb {
        position: absolute;
        top: 97px;
        left: -20px;
        right: -20px;
        background-color: #fff;
        min-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .index_menu_mb li {
        text-align: left;
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }
    .index_menu_mb li:last-child {
        border-bottom: unset;
    }
    #top-header .main-header .header-block {
        width: 100%;
    }
    #top-header .main-header .header-block .popup-title {
        line-height: 0px;
        height: 30px;
    }
    #top-header .main-header .header-block i {
        color: #8d8d99;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    #top-header .main-header .header-block .popup-content {
        padding: 15px;
        position: absolute;
        top: 31px;
        background: white;
        z-index: 999;
        display: none;
        right: 0;
        -webkit-transition: opacity 0.3s linear 0s;
        transition: opacity 0.3s linear 0s;
        -webkit-box-shadow: 0 6px 20px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 20px rgb(0 0 0 / 18%);
        min-width: 360px;
    }
    .dropdown-menu {
        width: 100%;
        font-size: 14px;
    }
    .group-store .index-core-group .item-img {
        width: 12rem;
    }
    .group-store .index-core-group img {
        height: 8rem;
    }
    .group-store .item-content h4 {
        font-size: 13px;
    }
    .group-store .index-core-group .item-img {
        margin-right: 10px;
    }
    .oars-store .page-title .title-h2 {
        text-align: center;
        font-size: 22px;
        margin: 0;
    }
    .oars-store .index-core-group .item-content {
        width: 100%;
    }
    .title.clearfix {
        margin-top: 20px;
    }
    .ttchncc_item {
        width: 100%;
        margin-left: 0;
    }

    .newsletter {
        padding: 30px 0;
    }
    .page-title-breadcrumbs .breadcrumbs {
        font-size: 18px;
    }
    .page-title-breadcrumbs .page-title-container h1 {
        font-size: 24px;
    }
    .content-right.diemtin a {
        font-size: 18px;
        line-height: 1.2;
    }
    .content-right.diemtin {
        padding-top: 10px;
    }
    .content-about .item {
        margin: 20px 0px;
        width: 100%;
    }
    .feature-products .item {
        margin: 0;
    }
    .content-right.diemtin.product {
        margin: 10px 0;
    }
    .content-right.diemtin.product p {
        font-size: 16px;
    }
    .thuvien_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .thuvien_item2 img {
        width: 100%;
    }
    .lienhe_div {
        margin-bottom: 15px;
    }
}
